* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body {
	font-family: sans-serif;
	width: 100vw;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	display: flex;
}

.container {
	background-color: #FBF3E4;
	border-radius: 10px;
	display: flex;
	max-width: 950px;
	width: 95%;
	justify-content: flex-start;	
	align-items: flex-start;
	position: relative;
	box-shadow: 0 0 5px;
	transition: all linear 300ms;
}

@keyframes move {
	from {
		left: 0;
	}
	to {
		left: 50%;
	}
}

@keyframes move-rev {
	from {
		left: 50%;
	}
	to {
		left: 0;
	}
}

#change-sign-mobile {
	display: none;
}

.container .cover {
	height: 100%;
	width: 50%;
	position: absolute;
	top: 0;
	left: 0;
	right: auto;
	z-index: 1;
	background-color: #2FDD92;
	border-radius: 10px 0 0 10px;
	box-shadow: 0 0 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	animation: move-rev ease-out 500ms;
}

.cover a {
    position: absolute;
    top: 20px;
    /* left: 30px; */
    font-size: 20px;
	text-decoration: none;
	width: 150px;
}

.cover i {
	font-size: 30px;
}

.cover h2 {
	color: #480032;
	font-size: 35px;
	text-align: center;
	width: auto;
}

#cover-change {
	position: fixed;
	right: 0;
	z-index: 10;
	display: none;
}

#cover-change:checked~.cover {
	left: auto;
	border-radius: 0px 10px 10px 0px;
	box-shadow: 0 0 5px;
	animation: move ease-in-out 500ms;
	right: 0;
}

[for = "cover-change"] {
	width: auto;
}

.cover #change {
	display: block;
	background-color: #333;	
	color: #fff;
	padding: 10px 54px;
	margin-top: 10px;
	width: auto;
	position: relative;
	transform: translateX(0);
	font-size: 24px;
	border-radius: 6px;
	border: none;
	font-weight: bold;
	cursor: pointer;
	transition: all linear 200ms;
}

#change:hover {
	transition: all linear 200ms;
	color: #333;
}


#change:before {
	content: "";
	border-radius: 6px;
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 100%;
	background-color: #F5FDB0;
	transition: ease-in-out 300ms;
	z-index: -1;
}

#change:hover:before
{
	width: 100%;
	left: 0;
	transition: ease-in-out 300ms;
}

#sign-up,
#sign-in {
	max-height: 90%;
	max-width: 90%;
	width: 500px;
	margin: auto;
	min-height: 100px;
	display: inline-block;
	color: #fff;	
	position: relative;
	padding: 0 20px 20px 20px;
}

svg {
	width: 100px;
	margin-left: 25px;
	color: #fff;
	position: absolute;
	left: -50px;
	top: -40px;
	filter: drop-shadow(0 0 10px #193498);
}

#sign-in h1,
#sign-up h1 {
	text-align: center;
	padding: 28px;
	font-size: 35px;
	letter-spacing: 5px;
	color:cornflowerblue;
	text-shadow: 0 0 8px #FFD369;
	text-transform: uppercase;
}

input {
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #000;
	font-size: 18px;
	padding: 4px 10px;
	margin-bottom: 35px;
	margin-top: 7px;
	color: #000;
	position: relative;
	caret-color: #000;
	animation: all linear 200ms;
}

input:focus {
	outline: none;
	border-color: orange;
	animation: all linear 200ms;
}

input::placeholder {
	/* font-family: 'Mochiy Pop P One', sans-serif; */
	font-size: 14px;
}

label {
	width: 100%;
	font-size: 16px;
	padding-left: 5px;
	color: #000;
	position: relative;
	display: block;
}

span {
	position: absolute;
    font-family: sans-serif;
    font-size: 14px;
    width: 100%;
    top: 60px;
    left: 11px;
    letter-spacing: 0.5px;
	/* opacity: 0; */
}

.usn-error,
.usn-accept,
.em-error,
.em-accept{
	opacity: 0;
}

.error {
	color: #FF3333;
}

.accept {
	color: #79D70F;
}

.show {
	opacity: 1;
	transition: all linear 300ms;
	animation-delay: 0;
}

.agree {
	font-size: 16px;
	font-family: sans-serif;
	color: #000;
	display: inline-block;
	margin-left: 30px;
	margin-bottom: 90px;
	position: relative;
}

#terms-accept,
#remember-accept {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 8px;
	position: absolute;
	left: -30px;
	top: -6px;
}

#register,
#sign-in-btn {
	display: block;
	background-color: #333;	
	color: #fff;
	text-transform: uppercase;
	padding: 10px 35px;
	width: auto;
	position: absolute;
	left: 50%;
	bottom: 28px;
	transform: translateX(-50%);
	font-size: 24px;
	/* font-family: 'Mochiy Pop P One', sans-serif; */
	border-radius: 6px;
	border: none;
	font-weight: bold;
	cursor: pointer;
	transition: all linear 200ms;
}

#register:hover,
#sign-in-btn:hover {
	transition: all linear 200ms;
	color: #333;
	font-size: 25px;
}


#register:before,
#sign-in-btn:before {
	content: "";
	border-radius: 6px;
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 100%;
	background-color: #2FDD92;
	transition: ease-in-out 300ms;
	z-index: -1;
}

#register:hover:before,
#sign-in-btn:hover:before
{
	width: 100%;
	left: 0;
	transition: ease-in-out 300ms;
}

.container form>a {
	display: none;
}

@media screen and (max-width: 1023px) {
	#sign-in h1
	#sign-up h1 {
		font-size: 30px !important;
	}
	.container button {
		font-size: 20px !important;
	}
}

@media screen and (max-width: 800px){	
	.cover {
		display: none !important;
	}

	
	#sign-in h1,
	#sign-up h1 {
		display: none;
	}
	
	.container {
		height: 560px;
	}
	
	#sign-up,
	#sign-in {
		position: absolute;
		width: 100% ;
		left: 50%;
		transform: translateX(-50%);
		top: 120px;
	}
	
	#sign-up {
		display: none;
	}
	
	#change-sign-mobile {
		display: block;
		position: absolute;
		width: 100%;
		height: 78px;
		border-radius: 10px 10px 0 0 ;
	}
	
	#change-sign-mobile h1:first-child {
		border-right: 4px solid #2FDD92;
		background-color: #FFD369;
		border-radius: 0 0 10px 0;
		border-radius: 10px 0 10px 0;
		transition: all linear 300ms;
	}
	
	#change-sign-mobile h1:last-child {
		border-bottom: none;
		font-size: 30px;
		color: #FF0000;
		border-radius: 0 10px 0 10px;
		transition: all linear 300ms;
	}
	
	#change-sign-mobile h1 {
		border-bottom: 4px solid #2FDD92;
		display: flex;
		align-items: center;
		justify-content: center;
		float: left;
		font-size: 25px;
		cursor: pointer;
		width: 50%;
		height: 100%;
		color: #1F1D36;
		animation: all linear 300ms;
	}
	
	.container button {
		font-size: 28px !important;
		width: 90% !important;
	}

	.container form>a{
		display: block;
		position: absolute;
		bottom: -20px;
		right: 30px;
		color: blue;
		text-decoration: none;
		font-size: 20px;
	}	
}